var webpack = require('webpack');

module.exports = function makeWebpackConfig() {
    var config = {
        devtool: 'source-map',
        entry: './src/app/app.mock',
        resolve: {
            extensions: ['', '.js', '.css', '.sass', '.html']
        },
        output: {
            path: './build/resources/main/public',
            filename: 'app/bundle.js'
        },
        module: {
            preLoaders: [
                {test: /\.js$/, loaders: ['source-map-loader'], exclude: /node_modules/}
            ],
            loaders: [
                {test: /\.js$/, loader: 'babel', query: {presets: ['es2015']}},
                {test: /\.scss$/, loaders: ['style', 'css?sourceMap', 'sass?sourceMap']},
                {test: /\.(png|jpe?g|gif|svg|woff|woff2|ttf|eot|ico)$/, loader: 'file'},
            ]
        },
    };
    return config;
}();
