export function DoSomething() {
  console.log('Did it')
}

export function DoSomethingElse() {
  console.log('No')
}

import * as myFuncs from './my-module';
import { doSomething } from './my-module';

myFuncs.doSomething();
myFuncs.doSomethingElse();

doSomething();